<ion-header>
  <ion-toolbar>
    <ion-title>Points of Interest</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'General.Close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
      <ion-item *ngFor="let location of Eventlist" (click)="poiModal(location.Id); close()">
          <ion-avatar item-left>
              <ion-icon name="navigate"></ion-icon>
          </ion-avatar>
          <p>
            {{getName(location)}} 
            {{(units == 'km' ? ((location.CurrentPositionDist * 1000) | number: '0.0-0') :  (location.CurrentPositionDist | number: '1.2-3'))}} 
            {{units == 'km' ? 'm' : 'miles'}}
          </p>
      </ion-item>
  </ion-list>
</ion-content>
